body, a, p {
	font-family: arial, sans-serif;
	font-size: small;
	text-decoration: none;
	color: #565656;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: #565656;
}

#lang, #lang:visited {
	color: blue;
}

.content {
	width: 550px;
	margin: 80px auto 0 auto;
	text-align: center;
}

.form-container {
	width : 500px;
	margin: 15px auto;

}

#query {
	line-height: 34px;
	height: 34px;
	font-size: 16px;
	width: 95%;
}

.button {
	margin: 25px 5px;
  height: 36px;
  padding: 1px 8px;
  background-color: #ededed;
  border-color: transparent;
  color: #565656;
  font-weight: bold;
  border-radius: 2px;
}

nav {
	margin-top: 20px;
	text-align: right;
	height: 30px;
	padding-right: 30px;
}

ul.top-nav li {
	vertical-align: middle;
	margin: auto 0;
	display: inline-block;
	padding-left: 15px;
}

.i-apps, .i-notif, .i-gplus {	
	width: 30px;
	height: 30px;
	padding-left: 15px;
}

footer {
	width: 100%;
}

ul.foot-nav {
	padding: 0;
	margin:0;
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 41px;
	background-color: #ededed;
	color: #565656;
}

ul.foot-nav li {
	display: inline-block;
	line-height: 41px;
	vertical-align: middle;
	margin: auto 15px auto 15px;

}

li.p-right {
	position: relative;
	float: right;
}